---
const pageTitle = "About Me";
const identity = {
  firstName: "Dmitry",
  country: "🇺🇦 Ukraine",
  occupation: "Developer",
  hobbies: ["coaching", "music", "IFS therapy", "gamification"],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy = true;
const finished = false;
const goal = 3;
const album = {
  title: "Restless | Relentless",
  artist: "Sutej Singh",
  coverUrl:
	"https://f4.bcbits.com/img/a3824775152_16.jpg",
};
const skillColor = "skyblue";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<style define:vars={{skillColor}}>
		body {
			font-family: 'Jost', sans-serif;
			font-optical-sizing: auto;
			font-weight: 400;
			font-style: normal;
			padding: 2rem;
		}
		h1 {
			color: purple;
			font-size: 4rem;
		}
		.skill {
			color: var(--skillColor);
			font-weight: bold;
		}
		</style>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
		<a href="/blog/">Blog</a>
        
        <h1>{pageTitle}</h1>
        <h2>... and my new Astro site!</h2>

        <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

        <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
		<p>Here are a few facts about me:</p>
		<ul>
		<li>My name is {identity.firstName}.</li>
		<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
		{identity.hobbies.length >= 2 &&
			<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
		}
		</ul>
		<p>My skills are:</p>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>
		{happy && <p>I am happy to be learning Astro!</p>}

		{finished && <p>I finished this tutorial!</p>}

		{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

		Currently listening to this album: {album.title} by {album.artist}
		<p>
			<img src={album.coverUrl} style="width: 300px; height: 300px;"
				alt={`Album cover for '${album.title}' by ${album.artist}`} />
		</p>
	</body>
</html>
